<%- include("../partials/header") %>

<div >
    <header class="jumbotron pattern">
        <div class="container" style="color: floralwhite;">
        <h1 >WELCOME TO FORKEd_IN</h1>
        <h6>VIEW,COMMENT,RATE OR JUST ENJOY OUR SITE :) </h6>
        <%if(curentuser==='admin'){%>
            <a href="/restaurants/new" class="btn btn-primary btn-large" >ADD NEW RESTOS
            </a>      
        <%}%>
        </div>
    </header>
  </div>

<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;" >  
            
                <div class="col-md-6 col-xs-12 search-bar">
                    <span class="srch"><i class="fa fa-search"  aria-hidden="true" ></i></span>
                    <form action="/restaurants" method="GET">
                        <input  name="search" id="find" type="text"  placeholder="Find your resto" onkeyup="func()">
                        <input type="submit" id="btn" style="display:none">
                        <span class="search" >
                            <label for="resto" ></label>
                            <select name="resto">
                                <option value="name" class="" >NAME</option>
                                <option value="location">LOCATION</option>
                            </select>
                        </span>           
                        </form>
                </div>                    
        <%restaurant.forEach(function(rest){%>
            
            <div class="container" style="margin-left:10%;margin-bottom: 2em;margin-top:2em;background-color:#93a6bd;border-radius: 1em;">
             <div class="col-md-6 col-xs-6" style="margin: 0;" >
                <div  class="thumbnail" style="background-color: transparent;border:0;border-radius: 0.3em;margin: 1em;" ><a href="/restaurants/<%=rest._id%>"><img src="<%=rest.image%>" width="100%" style="border-radius: 1em;"></img></a>
                    
                </div>
             </div>
             <div class="col-md-6 col-xs-6"> 
                <div class="caption">
                    <h2><a href="/restaurants/<%=rest._id%>" style="color: darkred;text-transform: uppercase;" ><b><%=rest.name%></b></a></h2> 
                    <h5  style="color:black;word-wrap: break-word;"> <%=rest.location.toUpperCase()%></h5>
                    <h4><span style="display:inline;"><i class="fa fa-star-o"  style="font-size: x-large;color: yellow;"></i> <%=rest.stars%></span></h4> 
                    <div  >
                    <!-- <div class="readmore"> -->
                        <p style="  max-width:50ch;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color:darkred;" ><%=rest.description%></p>     
                        <h5><a href="/restaurants/<%=rest._id%>" ><i style="color: white;">read more</i></a></h5>                 
                    </div>
                    <div style="color: darkred;">
                        
                    </div>
                    
                </div>
             </div>
            </div>
        <% })%>
        
    </div>
</div>


<%- include("../partials/footer")%>